## dependencies for the ganetimgr project
django<5
django-widgets-improved
# we target the latest LTS release
gevent
# gevent is used to pool cluster RAPI communication
django-registration-redux==2.12
# used for our registration workflow
paramiko
# used for user SSH key management
python-daemon==3.0.1
# used by watcher
setproctitle
# used by watcher to set it's process name
pycurl
# depenency for ganeti client library
django-recaptcha
# used in the registration form
ipaddr
# used to calculate Instance ipv6addresses
beautifulsoup4
# used by the image autodiscovery mechanism
requests
# used by the image autodiscovery mechanism
greenstalk==1.0.1
# used to pass messages between watcher and django
django-redis-cache==2.1.0
# used to cache cluster nodes/instances info
pyyaml
# used by beanstalkc
# needed for rkojedzinszky/go-novncauthproxy proxy
jwcrypto
simplejson
