## dependencies for the ganetimgr project
django<3
# we target the latest LTS release
gevent
# gevent is used to pool cluster RAPI communication
django-registration-redux==2.7
# used for our registration workflow
paramiko==2.7.1
# used for user SSH key management
python-daemon==2.2.4
# used by watcher
setproctitle
# used by watcher to set it's process name
pycurl
# depenency for ganeti client library
django-nocaptcha-recaptcha==0.0.20
# used in the registration form
ipaddr==2.2.0
# used to calculate Instance ipv6addresses
beautifulsoup4==4.8.2
# used by the image autodiscovery mechanism
requests==2.22.0
# used by the image autodiscovery mechanism
greenstalk==1.0.1
# used to pass messages between watcher and django
django-redis-cache==2.1.0
# used to cache cluster nodes/instances info
pyyaml==5.3
# used by beanstalkc
django-jsonfield==1.0.1
# needed for rkojedzinszky/go-novncauthproxy proxy
jwcrypto==0.6.0
simplejson==3.17.0
