{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block homepage %}class="active"{% endblock %}

{% block homepagetop %}class="active"{% endblock %}

{% block title %}{{ instance }} - {% trans "Console" %}{% endblock %}

{% block extrahead %}

{% if WEBSOCK_VNC_ENABLED %}
	<script type="text/javascript" src="{% static 'ganetimgr/js/jquery_csrf_protect.js' %}"></script>
	<style>
		#actions {
			margin-bottom: 30px;
		}

		input#paste {
			margin-bottom: 0px;
		}
	</style>
	<script type="module">
		import RFB from '{% static "noVNC/core/rfb.js" %}';
		import KeyTable from '{% static "noVNC/core/input/keysym.js" %}';
		import KeySym from '{% static "noVNC/core/input/keysymdef.js" %}';

		// Set path for proxy requests
		const PROXY_REQUEST_URI = "{% url 'instance-novnc-proxy' cluster.slug instance %}";
		const USE_TLS = {% if use_tls %}true{% else %}false{% endif %};

		let rfb;

		let ctrlOn = false;
		let altOn = false;
		let connected = false;

		const connectButton = $('#connect');
		const ctrlaltdeleteButton = $('#ctrlaltdelete');
		const toggleCtrlButton = $('#toggleCtrlButton');
		const pasteButton = $('#pasteButton');
		const toggleAltButton = $('#toggleAltButton');
		const vnc_status_bar = $("#VNC_status_bar");
		const vnc_screen = $('#VNC_screen');
		const pasteArea = $('input#paste');

		function updateConnected(is_connected) {
			connected = is_connected;

			if (is_connected) {
				connectButton.addClass('enabled').removeClass('btn-success').addClass('btn-danger').text('Disconnect');
				ctrlaltdeleteButton.removeClass('disabled');
				toggleCtrlButton.removeClass('disabled');
				toggleAltButton.removeClass('disabled');
				pasteButton.removeClass('disabled').prop('disabled', false);
			} else {
				connectButton.removeClass('enabled').removeClass('btn-danger').addClass('btn-success').text('Connect');
				ctrlaltdeleteButton.addClass('disabled');
				toggleCtrlButton.addClass('disabled');
				toggleAltButton.addClass('disabled');
				pasteButton.addClass('disabled').prop('disabled', true);
				pasteArea.val('').hide();
			}
		}

		function updateState(state, msg) {
			let klass;
			switch (state) {
				case 'securityfailed':
				case 'error':
					klass = "label label-error";
					break;
				case 'normal':
					klass = "label label-success";
					break;
				case 'disconnected':
					klass = "label label-info";
					break;
				default:
					klass = "label";
			}
			if (typeof msg !== "undefined") {
				vnc_status_bar.attr("class", klass).html(msg);
			}

			updateConnected(state == "normal");
		}

		function stop() {
			if (typeof rfb !== "undefined") {
				rfb.disconnect();
				rfb = undefined;
			}
		}

		function start() {
			let status, host, port, password, path;
			$.ajax({
				async: false,
				url: PROXY_REQUEST_URI,
				type: "POST",
				dataType: "json",
				success: (data, textStatus, xhr) => {
						status = textStatus;
						[host, port, password, path] = data;
				},
				error: (xhr, textStatus, error) => { status = textStatus },
			});
			if (status !== "success") {
				updateState("error",
					{% blocktrans %}`Failed to connect to noVNC authentication proxy (${status})`{% endblocktrans %});
			}

			let url = `${(window.location.protocol === "https:") || use_tls ? "wss" : "ws"}://${host}:${port}/${path}`;
			rfb = new RFB(document.querySelector("#VNC_screen"), url, {
				'shared' : true,
			});
			rfb.addEventListener("connect",  e => updateState("normal", {% blocktrans %}"Connected"{% endblocktrans %}));
			rfb.addEventListener("disconnect",  e => {
				let msg = e.detail.clean ? {% blocktrans %}'Click "Connect" to connect'{% endblocktrans %} :
					{% blocktrans %}"Disconnected due to an error"{% endblocktrans %};
				updateState(e.clean ? "disconnected" : "error", msg);
			});
			rfb.addEventListener("securityfailure",  e => {
				let msg = {% blocktrans %}"Security error:"{% endblocktrans %};
				if (typeof e["details"] !== "undefined") {
					msg += ` ${e.details}`;
				}
				msg += ` (Code: ${e.code})`;
				updateState("securityfailed", msg);
			});
			rfb.focus();
		}

		pasteArea.on('keydown keyup', evt => {
			const pasteSpecialKeys = {
				enter: {
					descr: function(i) { return i == "Enter" },
					code: function(i) { return i == 10 || i == 13 }
				},
				esc: {
					descr: function(i) { return i == "Escape" },
					code: function(i) { return i == 27 }
				}
			}

			evt.stopPropagation(); // don't propagate to noVNC

			let way = "";
			if (!!evt.key) {
				way = 'descr';
			} else if (!!evt.which || !!evt.keyCode) {
				way = 'code';
			} else {
				// abort!
				return true;
			}

			const testKey = koi => {
				return way === 'descr' ?
				pasteSpecialKeys[koi][way](evt.key) :
				pasteSpecialKeys[koi][way](evt.which || evt.keyCode);
			}
			if (connected && evt.type == "keydown") {
				let reset = false;
				if (testKey('enter')) {
					evt.preventDefault();
					let text = $(evt.currentTarget).val();
					for (let i=0; i < text.length; i++) {
						rfb.sendKey(KeySym.lookup(text.charCodeAt(i)));
					}
					rfb.sendKey(KeyTable.XK_Return);
					reset = true;
				} else if (testKey('esc')) {
					// evt.preventDefault();
					reset = true;
				}
				if (reset) {
					$(evt.currentTarget).val('').hide();
				}
			}
		});

		connectButton.click(event => {
			event.preventDefault();

			if ($(event.currentTarget).hasClass('enabled')) {
				rfb.disconnect();
				connected = false;
			} else {
				connected = true;
				start();
			}
		});

		pasteButton.click(function (evt) {
			if ($(evt.currentTarget).prop('disabled')) {
				evt.preventDefault();
				return false;
			} else {
				pasteArea.toggle().filter(':visible').focus();
			}
		});

		ctrlaltdeleteButton.click(function(event) {
			event.preventDefault();

			if (!$(event.currentTarget).hasClass('disabled')) {
				rfb.sendCtrlAltDel();
			}
		});

		toggleCtrlButton.click(function(event) {
			event.preventDefault();

			if (!$(event.currentTarget).hasClass('disabled')) {
				if(!ctrlOn) {
					rfb.sendKey(KeyTable.XK_Control_L, null, true);
					$(event.currentTarget).button('toggle');
					ctrlOn = true;
				} else {
					rfb.sendKey(KeyTable.XK_Control_L, null, false);
					$(event.currentTarget).button('toggle');
					ctrlOn = false;
				}
			}

			return false;
		});

		toggleAltButton.click(function(event) {
			event.preventDefault();

			if (!$(event.currentTarget).hasClass('disabled')) {
				if (!altOn) {
					rfb.sendKey(KeyTable.XK_Alt_L, null, true);
					$(event.currentTarget).button('toggle');
					altOn = true;
				} else {
					rfb.sendKey(KeyTable.XK_Alt_L, null, false);
					$(event.currentTarget).button('toggle');
					altOn = false;
				}
			}

			return false;
		});

		$(window).bind("unload", stop);

		updateConnected(false);
	</script>
	{% endif %}
{% endblock %}

{% block crumbs %}
	<li>
		<a href="{% url 'user-instances' %}">{% trans "Home" %}</a><span class="divider">/</span>
	</li>
	<li>
		<a href="{% url 'instance-detail' cluster.slug instance %}">{{ instance }}</a><span class="divider">/</span>
	</li>
	<li class="active">
		{% trans "Console" %}
	</li>
{% endblock %}

{% block content %}
	{% if WEBSOCK_VNC_ENABLED %}
	<div class="span11 main-content">
		<div class="row-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h2><i class="fa fa-terminal"></i> {% trans "VNC session on" %} {{ instance }}</h2>
					<button id="connect" class="btn btn-success">
						Connect
					</button>
					<button class="btn" id="ctrlaltdelete">
						Ctrl+Alt+Del
					</button>
					<button id="toggleCtrlButton" class="btn">Toggle Ctrl</button>
					<button id="toggleAltButton" class="btn">Toggle Alt</button>
					<button id="pasteButton" class="btn">Paste Text</button>
					<input type="text" class="span4" id="paste" placeholder="Paste text and press enter"></input>
				</div>
				<div id="VNC_screen" style="display: inline-block;">
					<span id="VNC_status_bar" class="label label-info">{% trans 'Click "Connect" to connect' %}</span>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="span11 main-content">
		<div class="row-fluid">
			WebSockets VNC is not enabled.
		</div>
	</div>
	{% endif %}
{% endblock %}
